.managementtext{
	text-align:center;
	text-decoration:underline;
}

/*About Us start*/
.abouttext{
	margin-left:300px;
	margin-right:300px;	
	
}
.abouttext p{
	text-align:left;
	font-size:18px;
	opacity:0.7;
}

@media (max-width:1200px){
	.abouttext{
		margin:10px;
	}
	.abouttext p{
		text-align:left;
		width:100%;
	}
}

/*About Us End*/

							/*Management start*/
								.managementpic{
									overflow:auto;
									width:100%;
								}
								.managementpic div{
									float:left;
									height:345px;
									overflow:hidden;
									margin:10px;
									border:3px solid gray;
									
								}
								.managementpic1 img{
									width:297px;
									height:250px;
									float:center;
									
								}
								.managementpic1 h2{
									text-align:center;
								}
								.managementpic1 p{
									text-align:center;
									font-size:20px;
								}
								
								@media only screen and (max-width:500px){									
									.managementpic div{
										height:345px;
										width:100%;
									}
								}
								
								@media only screen and (min-width:500px){									
									.managementpic div{
										height:345px;
										width:44%;
									}
								}
								
								@media only screen and (min-width:800px){	
									.managementpic div{
										height:345px;
										width:29%;										
									}
								}
								/*Management end*/