.body{
	margin:0;
}
@media (max-width:800px){
	.body{
		margin:auto;
	}
}

/*logo start*/
.logo {
	margin:0px;
	float:left:
}
.logo a{
	margin-left:10px;
	text-decoration:none;
	float:left;
	overflow:hidden;
	display:block;
}
.logo a:hover{
	background-color:#85C1E9;
}

@media only screen and (max-width:900px){
	.logo {
		display:none;
	}
}

/*logo end*/

					/*Notice start*/
					.notice{
						padding-left:10px;
						overflow:hidden;
						display:block;
					}
					.notice p{
						font-size:20px;
						margin-top:-0.5px;
						text-decoration:underline;
					}
					.notice1{
						font-size:16px;
						margin-top:-40px;
						margin-left:80px;
						font-family:arial;
					}
					@media only screen and (max-width: 300px){
						.notice p{
							display:none;
						}
					}

					@media only screen and (max-width: 300px){
						.notice1{
							font-size:10px;
							margin-top:0px;
						}
					}

					/*Notice End*/


								/*Navigation bar start*/
								.navmenu{
									background-color:#EAECEE;	
								}

								.navmenu a:hover{					
									background-color:#82E0AA;
									}
									/*Navigation bar end*/

/*Navigation bar logo start*/
.navbarbiospray{
	margin-left:0px;
	margin-top:-70px;
}
@media (max-width:1150px){
	.navbarbiospray{
		display:none;
	}
}
.navbarnutric{
	float:right;
	margin-top:-110px;
	margin-right:0px;
}
@media (max-width:1150px){
	.navbarnutric{
		display:none;
	}
}
/*Navigation bar logo end*/



								/*blog start*/
								.blogall{
									overflow:auto;
									
								}
								.blogall div{
									float:left;
									height:400px;
									width:31%;
									overflow:scroll;
									margin:10px;
									border:3px solid gray;
								}
								.bf1 h3{
									text-align:center;
								}
								
								@media (max-width:1150px){
									.blogall{
										overflow:auto;
									}
									.blogall div{
										height:300px;
										width:100%;
									}
								}
								/*blog end*/

												/*Footer start*/
												footer{
													padding: 1% 10%;
													background-color: #323f3d;
													margin-top: 10px;
												}

												footer a{
													margin:2px;
													text-decoration: none;
												}
												footer a:hover{
													color:white;
												}
												/*Footer ends*/